NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
OTP_BYPASS_EMAILS=
AUTH_OTP_SECRET=
GMAIL_SMTP_USER=
GMAIL_SMTP_APP_PASSWORD=
APP_URL=http://localhost:3000
PASSWORD_RESET_REDIRECT_URL=http://localhost:3000/reset-password
EMAIL_VERIFICATION_REDIRECT_URL=http://localhost:3000/onboarding
